
<launch>
  <include file="$(find lab4)/launch/config.launch" />

  <node name="nav" pkg="rosjava_bootstrap" type="run.py" args="lab6 GlobalNavigation.GlobalNavigation" machine="workstation" output="screen">
<!--
  	<param name="mapFileName" value="/home/rss-student/RSS-I-group/lab6/src/global-nav-maze-2011-med.map" /> 
-->
  	<param name="mapFileName" value="/home/rss-student/RSS-I-group/lab6/src/global-nav-maze-2011-med.map" /> 
 
  </node>

</launch>
