<launch>
  <machine name="workstation" address="workstation">
     <env name="ROS_MASTER_URI" value="http://netbook:11311" />
     <env name="ROS_HOSTNAME" value="workstation" />
  </machine>

  <machine name="netbook" address="netbook" user="rss-student" password="hal9000" 
  	   ros-root="$(env ROS_ROOT)" 
	   ros-package-path="$(env ROS_PACKAGE_PATH)"> 
     <env name="ROS_MASTER_URI" value="http://netbook:11311" />
     <env name="ROS_HOSTNAME" value="netbook" />		     
     <env name="GSCAM_CONFIG" value="v4l2src device=/dev/video0 ! video/x-raw-rgb, width=160, height=120 ! ffmpegcolorspace"/> 
     <env name="DISPLAY" value=":0" />
  </machine>
</launch>
