<launch>
  <include file="$(find lab4)/launch/config.launch" />
  
  <node name="rep" pkg="topic_tools" type="relay" args="/gscam/image_raw /rss/video" machine="workstation"/>

  <node name="view" pkg="image_view" type="image_view" args="image:=/rss/video" machine="workstation" />
  <node name="gui" pkg="rosjava_bootstrap" type="run.py" args="lab4 VisualServo.VisionGUI" machine="workstation" output="screen" />
  
  <node name="lis" pkg="rosjava_bootstrap" type="run.py" args="uorc_listener Listener" machine="netbook" /> 
  <node name="pub" pkg="rosjava_bootstrap" type="run.py" args="uorc_publisher Publisher" machine="netbook" />
  <node name="odo" pkg="rosjava_bootstrap" type="run.py" args="odometry odometry.Odometry" machine="netbook" />
  <node name="vid" pkg="gscam" type="gscam" machine="netbook" /> 
</launch>
